.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}


.centerbox1{
    float: left;
    width: 250px;
}

.centerbox3{
    float: left;
}


.center1{
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
    
}

.center2{
    width: 150px;
    height: 50px;
    background-color: #bdb400;
}

.center3{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
    
}



.center4{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
   
}



.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}